
.card {
    display: inline-block;
    box-shadow: 5px 5px 5px 5px grey;
    border-radius: 5%;
    width: 300px;
    margin: 5px;
    overflow: hidden;
    /* font-size: 0; */  /* วิธีที่ 2 -  ตั้ง font-size: 0px;*/
    background-color: rgb(185, 239, 255);   
    
}
.container {
    text-align: center;
    padding: 2px 16px;
    /* background-color: peachpuff; */ /* วิธีที่ 3 -  ตั้ง background-color เหมือนกับ container*/
    /* margin-top: -5px; */  /* วิธีที่ 1 - margin*/
    /* font-size: 16px; */ 
    overflow: hidden;
    
}
img {
    border-radius: 5% 5% 0 0;
    width: 100%;
    /* display: flex; */
    float: left;

}
